# PTTAVM Tedarikci Panel Bilgileri
PTT_USERNAME=yener.yigit@nexussigorta.com
PTT_PASSWORD=

# Playwright ayarlari
PTT_HEADLESS=true
PTT_SLOWMO_MS=0
DRY_RUN=false

# Siparis tarama
PTT_MAX_PAGES_TO_SCAN=5

# Server
PORT=5173
NODE_ENV=development
